*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 50vw;
    height: 60vh;
    border: 1px solid gray;
    display: flex;
    margin: auto;
    /* align-items: center; */
    margin-top: 25%;
    box-shadow: 1px 1px 1px gray;
    /* background-color: rgb(245, 242, 242); */
    
}
