/* .parent{
    display: flex;
    width: 800px;
    height: 600px;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;

}

.parent >div{
    display: flex;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;


} */

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: blue;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}